<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.optiquall.childappusage">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".rent_app.GooglePlusButton"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".rent_app.NavigationLandlord"
            android:parentActivityName=".rent_app.NavigationLandlord">


        </activity>


        <activity
            android:name=".rent_app.NavigationTenant"
            android:parentActivityName=".rent_app.NavigationLandlord">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationLandlord"></meta-data>


        </activity>
        <activity
            android:name=".rent_app.SearchActivity"
            android:parentActivityName=".rent_app.NavigationTenant">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationTenant"></meta-data>
        </activity>

        <activity
            android:name=".rent_app.LandlordPost"

            android:parentActivityName=".rent_app.NavigationLandlord">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationLandlord"></meta-data>

        </activity>


        <activity
            android:name=".rent_app.FinalTenantSearch"

            android:parentActivityName=".rent_app.NavigationTenant">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationTenant"></meta-data>


        </activity>


        <activity
            android:name=".rent_app.LandlordSearch"
            android:parentActivityName=".rent_app.NavigationLandlord">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationLandlord"></meta-data>

        </activity>


        <activity
            android:name=".rent_app.LandlordDetailActivity"
            android:parentActivityName=".rent_app.LandlordSearch">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.LandlordSearch"></meta-data>


        </activity>

        <activity
            android:name=".rent_app.TenantDisplayActivity"
            android:parentActivityName=".rent_app.FinalTenantSearch">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.FinalTenantSearch"></meta-data>

        </activity>

        <activity
            android:name=".rent_app.TenantDetailActivity"
            android:parentActivityName=".rent_app.FinalTenantSearch">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.TenantDisplayActivity"></meta-data>

        </activity>

        <activity
            android:name=".rent_app.TenantFavouriteDetailActivity"
            android:parentActivityName=".rent_app.SearchActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.SearchActivity"></meta-data>

        </activity>


        <activity
            android:name=".rent_app.AddUpdatePlaceActivity"
            android:label="ADD/UPDATE">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".rent_app.NavigationLandlord" />
        </activity>


    </application>

</manifest>